<div id="{{ editable.element_id }}" class="elao_cms_slot_editable">{% include "ElaoCmsSlotBundle:CmsSlotType:jeditable_display.html.twig" with {'value': editable.element_value} %}</div>
<script type="text/javascript">
    $('#{{ editable.element_id }}').editable('{{ path(editable.url) }}', {
        submitdata: function(){ return {type: 'jeditable', code: '{{ editable.element_name }}'}; },
        {% for option,value in editable.options %}
            {{ option }}: "{{ value }}",
        {% endfor %}
        indicator:    "Sauvegarde en cours...",
        submit:       "Enregistrer",
        cancel:       "Annuler",
        onblur:       "ignore"
    });
</script>